@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(font/Playlist-Script.otf); /* Путь к файлу со шрифтом */
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	min-height: 1000px;
	min-width: 1000px;
}

body {
	font-family: Ubuntu;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-size: 100%;
	background: rgb(126, 200, 235);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	height: 10rem;
	width: 10rem;
	margin: .5rem;
	background: rgb(126, 200, 235);
	border: 1px solid rgba(0, 0, 0, .2);;
	border-radius: .4rem;
}

a {
	text-decoration: none;
	color: black;
}

.window {
	margin: 20vh 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35rem;
	height: 41rem;
	background: rgba(69, 143, 177, .7);
	border-radius: .4rem;
}

.window_row {
	margin: 0 1rem;
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	width: 15rem;
	padding: 1.5rem;
	flex-direction: column;
	justify-content: space-between;
	background: rgba(69, 143, 177, .7);
	font-size: 3rem;
}

.header_footer {
	font-size: 2rem;
}

.header_body {
	display: flex;
	flex-direction: column;
}

.header_text {
	margin: 0;
	padding: 0;
}

.header_body_link {
	margin: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	height: 4rem;
	width: 10rem;
	background: rgb(126, 200, 235);
	border: 1px solid rgb(73, 144, 177);
	border-radius: 1rem;
}

.header_text_2 {
	margin: 0 0 0 3rem;
}

.header_link {
	height: 4rem;
	width: 5rem;
	background: rgba(69, 143, 177, .7);
}

.button_restart {
	height: 5rem;
	flex: 1 0 auto;
}

.error {
	display: flex;
	flex-direction: column;
	background: rgb(35, 101, 135);
	margin-top: 10vh;
}
   
.error_page {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	align-items: center;
}

.error_image {
	border-radius:  13px;
}
.error_400 {
	background: rgb(254, 148, 196);
}
.error_403 {
	background: rgb(226, 187, 58);
}
.error_404 {
	background: rgb(204, 163, 197);
}
.error_404 {
	background: rgb(204, 163, 197);
}
.error_500 {
	background: rgb(147, 201, 225);
}

.error_text_1{
	font-size: 5rem;
	font-weight: bold;
	margin: 1rem 0 0 0;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7rem;
}

.color_400_text{
	color:#fff;
}
.color_403_text{
	color:#c21f36;
}
.color_404_text{
	color:#000273;
}
.color_500_text{
	color:#272a4d;
}

.autoindex{
	background: rgba(69, 143, 177, .7);
	font-size: 2rem;
}
.color_autoindex{
	color:beige;
}

.simvol {
	margin: 0;
	padding: 0;
	font-size: 7rem;
	/*font-weight: bold;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.jeka {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5vw;
	font-size: 13rem;
}

.jeka_php {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2vw;
	font-size: 2rem;
	border-radius: .4rem;
}
.jeka_php_b {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0vw;
	font-size: 3rem;
	border-radius: .4rem;
}

button_send {
	height: 5rem;
	width: 5rem;
	margin: .5rem;
	background: rgb(126, 200, 235);
	border: 1px solid rgba(0, 0, 0, .2);;
	border-radius: .4rem;
}

.end {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(126, 200, 235, .7);
}

.button_end {
	z-index: 2;
	height: 7rem;
	width: 15rem;
	font-size: 3rem;
}

button:hover {
	cursor: pointer;
}

.button_text {
	z-index: 1;
	position: absolute;
	top: -10rem;
	font-size: 20rem;
}

